
*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}



header{
  background-color: rgb(60, 60, 60);
  display: flex;
  justify-content: space-between;
  height: 50px;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header h1{
  height: 20px;
  margin: 0px 0 0 15px;
  color: white;
}
header nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li{
  display: inline-block;
}


.search-container {
  display: flex;
  align-items: center;
}


form {
  display: flex;
  border: none
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 80%;
}

button[type=submit] {
  padding: 6px 10px;
  margin-top: 8px;
  margin-left: 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}






.icons{
  display: inline-block;
  margin: 0 15px 0 0;
  color: white;
}




.user__icon{
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 8px;
  float: left;
  color: white;
}
.bars__menu{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 8px 0px 0px 8px;
     float: right;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: #9A00BF;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 270ms;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px); 
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: 30px; 
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}

.sidebar{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.open {
  width: 200px;
}




.hero {
    background: rgb(135,7,40);
    background: linear-gradient(90deg, rgba(135,7,40,0.8995973389355743) 0%, rgba(154,0,191,1) 35%);
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  .hero-title {
    font-size: 48px;
    margin-bottom: 16px;
  }
  
  .hero-subtitle {
    font-size: 24px;
    margin-bottom: 32px;
  }
  
  .hero-button {
    font-size: 18px;
    padding: 12px 24px;
    background-color: orange;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }







.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
}
.container{
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 300px;
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
  }
  
  .card h2 {
    margin: 10px;
    font-size: 24px;
  }
  
  .card p {
    margin: 10px;
    font-size: 18px;
  }
  
  .card button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
  }







  /* responsive */
